{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Multiplication Table</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    {% for x in range(1, 13) %}
                        {% endfor %}
                    <td>
                        {% for y in range(1, 13) %}
                    </td>
                </tr>

                <tr>&nbsp;
                    <td>{% for x in range(1, 13) %}</td>
                        <td>{{ x * y }}&nbsp;</td>
                    <td>{% endfor %}</td>
                    {% endfor %}        
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
